.App {
    text-align: center;
    font-family: 'Squada One', cursive;
  }
  
.center{
    display: flex;
    justify-content: center;
}

  .particles{
      position: fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      z-index: -1;
  }

  .rowC{
    display:flex; flex-direction: row ;
    justify-content: space-between;
  }

  #error{
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
  }